{{extend 'layout.html'}}
<div id="main" class="container">
  <div class="row">
    <div class="col-lg-12"> <h3> {{if session.forced_language =='de': }} FEST Forschung {{elif session.forced_language =='en': }} FEST Forschung  {{pass}} </h3>
	</div>
	
    {{if session.forced_language =='de': }}	
	<div class="col-lg-9">
	   <p>Die Reihe „FEST Forschung“ versammelt Forschungsbeiträge aus der laufenden wissenschaftlichen Arbeit der interdisziplinären Forschungsstätte der Evangelischen Studiengemeinschaft (FEST) in Heidelberg.</p>
	   <p>Das Themenspektrum der Reihe spiegelt die Schwerpunkte der Forschung an der FEST: Frieden – Nachhaltige Entwicklung – Religion, Recht und Kultur – Theologie und Naturwissenschaft sowie die fachliche Expertise der einzelnen Mitarbeiter:innen wider. Die Bände und Beiträge der Reihe nehmen dabei aktuelle gesellschaftliche Themen und Diskurse in den Blick. Sie liefern Analysen für die Wissenschaft und geben Orientierung für Kirchen, Gesellschaft und Politik.</p>
	   <p>Die wissenschaftliche Qualität der Bände der Reihe wird durch einen wissenschaftlichen Beirat sichergestellt, der sich aus den Mitgliedern des wissenschaftlichen Kuratoriums der FEST (<a href="https://www.fest-heidelberg.de/kuratorium/" title="Homepage Forschungsstätte der Evangelischen Studiengemeinschaft FEST, Übersicht wissenschaftliches Kuratorium">aktuelle Übersicht</a>) zusammensetzt. Alle Bände durchlaufen ein mehrstufiges, von den Band- und Reihenherausgeber:innen durchgeführtes Review-Verfahren.</p>
      <!--<div class="widget">
        <ul class="tags">
          <li>
          <p>
            <a href="{{=URL('catalog', 'series/fefo')}}">{{=T('Volumes')}}</a>
          </p>
          </li>
        </ul>
      </div>-->
    </div>	

    <div class="col-lg-3">	
      <div id="infoBoxRechts">
		<p><b>Herausgeber</b><br />
        Forschungsstätte der Evangelischen Studiengemeinschaft e.V. (FEST), Heidelberg<br /><br />
		Johannes J. Frühbauer<br />
        Benjamin Held<br />
		Magnus Schlette<br />
		Philipp Stoellger<br />
		A. Katarina Weilert
        </p>
	  </div>
    </div>
	
    {{elif session.forced_language =='en': }}
		<div class="col-lg-9">
	   <p>The series "FEST Forschung" brings together research contributions from the ongoing scientific work of the Protestant Institute for Interdisciplinary Research (FEST) in Heidelberg.</p>
	   <p>The range of topics in the series reflects the main areas of research at FEST: Peace - Sustainable Development - Religion, Law and Culture - Theology and Natural Science, as well as the professional expertise of the individual scientific researchers. The contributions to the series focus on current social issues and discourses. They provide analyses for the scientific field and give orientation for churches, society and politics.</p>
       <p>The scientific quality of the volumes of the series is ensured through a multi-stage review process by the volume and series editors as well as by a scientific advisory board consisting of the members of the scientific board of trustees of FEST (<a href="https://www.fest-heidelberg.de/kuratorium/" title="Homepage Forschungsstätte der Evangelischen Studiengemeinschaft FEST, overview scientific board of trustees">current overview</a>).</p>
      <!--<div class="widget">
        <ul class="tags">
          <li>
          <p>
            <a href="{{=URL('catalog', 'series/fefo')}}">{{=T('Volumes')}}</a>
          </p>
          </li>
        </ul>
      </div>-->
    </div>	

    <div class="col-lg-3">	
      <div id="infoBoxRechts">
		<p><b>Editors</b><br />
        Forschungsstätte der Evangelischen Studiengemeinschaft e.V. (FEST), Heidelberg<br /><br />
		Johannes J. Frühbauer<br />
        Benjamin Held<br />
		Magnus Schlette<br />
		Philipp Stoellger<br />
		A. Katarina Weilert
        </p>
	  </div>
    </div>
	{{pass}}
  </div>
</div>