{{extend 'layout.html'}}
<div id="main" class="container">
  <div class="row">
    <div class="col-lg-12"> <h3> {{if session.forced_language =='de': }} Schriften der Universitätsbibliothek Heidelberg {{elif session.forced_language =='en': }} Schriften der Universitätsbibliothek Heidelberg {{pass}} </h3>
	</div>
	
    {{if session.forced_language =='de': }}	
	<div class="col-lg-9">
	   <p>Die 1999 begründete Schriftenreihe umfasst die Kataloge der seither in der Universitätsbibliothek Heidelberg gezeigten Ausstellungen, in denen in Kooperation mit Instituten der Heidelberger Universität aber auch mit auswärtigen Partnern überwiegend hauseigene Bestände präsentiert wurden. Daneben sind in der Reihe auch einige Verzeichnisse bedeutender Nachlässe erschienen, die an der Universitätsbibliothek erarbeitet wurden. Einzelne Bände der Reihe werden nach und nach online zugänglich gemacht. Printversionen können im Buchhandel sowie über die <a href="http://www.ub.uni-heidelberg.de/service/shop/gedruckt.html" title="Link zur Seite UBshop">Universitätsbibliothek</a> erworben werden.
      </p>
      <div class="widget">
        <ul class="tags">
          <li>
          <p>
            <a href="{{=URL('catalog', 'series/ubhd_schriften')}}">{{=T('Volumes')}}</a>
          </p>
          </li>
        </ul>
      </div>
    </div>	

    <div class="col-lg-3">	
      <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/series/UB_bei_Nacht_mittel.jpg'),_width='230px')}}
        </p>
		<p><b>Kontakt</b>
          <br> Universitätsbibliothek Heidelberg<br /> Plöck 107-109<br /> D-69117 Heidelberg<br /><br /> Dr. Maria Effinger<br /> Tel.: +49 06221 54 3561<br /> E-Mail: effinger@ub.uni-heidelberg.de
        </p>
	  </div>
    </div>
	
    {{elif session.forced_language =='en': }}
		<div class="col-lg-9">
	   <p>The publication series, established in 1999, includes catalogues of exhibitions – mostly presenting in-house-collections – which took place at Heidelberg University Library, in collaboration with institutes of Heidelberg University or external partners. The series also comprises several  inventories of significant estates edited by the University Library. Individual volumes are gradually being made available online. Printed versions can be bought in bookshops or ordered directly from the <a href="http://www.ub.uni-heidelberg.de/service/shop/gedruckt.html" title="Homepage UB Heidelberg, UB Shop">University library</a>.
      </p>
      <div class="widget">
        <ul class="tags">
          <li>
          <p>
            <a href="{{=URL('catalog', 'series/ubhd_schriften')}}">{{=T('Volumes')}}</a>
          </p>
          </li>
        </ul>
      </div>
    </div>	

    <div class="col-lg-3">	
      <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/series/UB_bei_Nacht_mittel.jpg'),_width='230px')}}
        </p>
		<p><b>Contact</b><br />
           Universitätsbibliothek Heidelberg<br />
           Plöck 107-109<br /> D-69117 Heidelberg<br /><br />
           Dr. Maria Effinger<br />
           Tel.: +49 06221 54 3561<br />
           E-Mail: effinger@ub.uni-heidelberg.de
        </p>
	  </div>
    </div>
	{{pass}}
  </div>
</div>