{{extend 'layout.html'}} 
<script type="text/javascript" charset="utf-8">
$(window).on("load", function() {
$('.flexslider').flexslider();
});
</script>
<div class="container">
  <!-- end header -->
  <section id="content">
    <div class="container">
      <div class="row" style="height:40px;">
      </div>
          <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-12">
              <div class="col-lg-3">
                <div class="box">
                  <div class="box-gray aligncenter"><h4>{{=T('New Titles')}}</h4>
                     {{=A(IMG(_src=URL(myconf.take('web.application'),'static','files/presses/1/monographs/1060/simple/cover.jpg'),_alt='',_style='width:145px', _class='bildrahmen'),_href=URL('catalog','book/1060'))}}                 
                  </div>
                  <div class="box-bottom"> {{=A(T('More'),_href=URL('catalog','book/1060'))}}
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="box">
                  <div class="box-gray aligncenter"><h4>{{=T('New Titles')}}</h4>
                     {{=A(IMG(_src=URL(myconf.take('web.application'),'static','files/presses/1/monographs/979/simple/cover.jpg'),_alt='',_style='width:145px', _class='bildrahmen'),_href=URL('catalog','book/979'))}}                 
                  </div>
                  <div class="box-bottom"> {{=A(T('More'),_href=URL('catalog','book/979'))}}
                  </div>
                </div>
              </div>

   

              <div id="boxAktuelles" class="col-lg-6">
              <div class="box">
                <div class="box-gray aligncenter" style="overflow-y: scroll">
                   <h4>{{=T('News')}}</h4>


                    {{
                    for n in news_list:
                        =n
                    pass
                    }}


                </div>
              </div>
              <div class="box-bottom">&nbsp;
                    <!--{{if session.forced_language =='de': }}
                    <a href="http://heiup.uni-heidelberg.de/#"><span style="color: #EFEFEF;">Mehr</span>
                    {{elif session.forced_language =='en': }}
                    <a href="http://heiup.uni-heidelberg.de/#"><span style="color: #EFEFEF;">More Information</span>
                    {{pass}}-->
              </div>
            </div>
        </div>
      </div>
      
      <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-3">
        <div class="box">
          <div class="box-gray aligncenter"><h4>{{=T('New Titles')}}</h4>
             {{=A(IMG(_src=URL(myconf.take('web.application'),'static','files/presses/1/monographs/1004/simple/cover.jpg'),_alt='',_style='width:145px', _class='bildrahmen'),_href=URL('catalog','book/1004'))}}                 
          </div>
          <div class="box-bottom"> {{=A(T('More'),_href=URL('catalog','book/1004'))}}
          </div>
        </div>
      </div>      
      <div class="col-lg-3">
        <div class="box">
          <div class="box-gray aligncenter"><h4>{{=T('New Titles')}}</h4>
             {{=A(IMG(_src=URL(myconf.take('web.application'),'static','files/presses/1/monographs/994/simple/cover.jpg'),_alt='',_style='width:145px', _class='bildrahmen'),_href=URL('catalog','book/994'))}}                 
          </div>
          <div class="box-bottom"> {{=A(T('More'),_href=URL('catalog','book/994'))}}
          </div>
        </div>
      </div>      


            <div class="col-lg-6 boxAktuelles">
              <div class="box">
                <div class="box-gray aligncenter"><h4>heiBOOKS</h4>
                  <p class="boxText"> {{if session.forced_language =='de': }} heiBOOKS bietet Wissenschaftlerinnen und Wissenschaftlern der Universität Heidelberg die Möglichkeit, E-Books im Open Access zu publizieren. Die Universitätsbibliothek hostet die Open Source Software Open Monograph Systems (OMP), unterstützt bei der Erstellung des E-Books, sichert die Nachhaltigkeit der publizierten Inhalte und sorgt für deren größtmögliche Sichtbarkeit. {{elif session.forced_language =='en': }} The service heiBOOKS provides researchers at Heidelberg University with the opportunity to publish e-books in Open Access. The University Library hosts the open source software Open Monograph Press (OMP), provides support with the production of the e-book, guarantees long term availability and ensures the greatest possible visibility. {{pass}}
                  </p>
                </div>
                <div class="box-bottom">&nbsp;
                </div>
              </div>
            </div>

        </div>

    </div>

  </div>
  </section>
</div>
